:host {
  font-family: 'Poppins', sans-serif;
}
.dashboard-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-right: 5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
